# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\数学建模\第三章 Python在高等数学和线性代数中的应用\.idea/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
